---
import Layout from "@layouts/Layout.astro";
import CamiloAbout from "@assets/camilo6.jpg";
import CamiloSpiritTraining from "@assets/camilo7.jpg";
import CamiloYoga from "@assets/camilo8.jpg";
import CamiloFinal from "@assets/camilo9.jpg";
---

<Layout
    lang="es"
    title="Mi Camino Espiritual: Un Viaje de Autoconocimiento y Sanación"
>
    <div class="page">
        <section class="banner">
            <div class="content">
                <div class="hero-header">
                    <h1>
                        Mi Camino Espiritual: Un Viaje de Autoconocimiento y
                        Sanación
                    </h1>
                </div>
                <p>
                    Hola, mi nombre es Camilo Antonio Aguilera Micolta, tengo 32
                    años y quiero compartir con ustedes un poco sobre mi camino
                    espiritual, el cual ha sido un viaje lleno de
                    descubrimientos, aprendizajes y transformaciones.
                </p>
                <p>
                    Mi historia comienza a los 6 años, cuando empecé a percibir
                    el aura y la energía de las personas. Recuerdo que mis
                    padres, al no comprender lo que estaba sucediendo, me
                    llevaron al psicólogo, lo que provocó un cierre en mi sexto
                    chakra y la pérdida de esa capacidad de ver más allá de lo
                    terrenal. Sin embargo, a los 9 años, esta habilidad volvió a
                    manifestarse. Fue en ese momento cuando acudí a mi tía Clara
                    Micolta, quien se convirtió en mi primera maestra
                    espiritual. A través de terapias de apertura de chakras con
                    piedras preciosas y la lectura de ángeles, me enseñó a
                    comprender los beneficios de acercarme a la espiritualidad y
                    a descubrir el vasto conocimiento que alberga este universo.
                </p>
            </div>
            <img src={CamiloAbout.src} alt="Hero Banner" />
        </section>
        <section class="banner">
            <img src={CamiloSpiritTraining.src} alt="Hero Banner" />
            <div class="content">
                <p>
                    Fue con ella que comencé a aprender sobre los chakras, y fue
                    gracias a un amigo muy especial que conocí las cartas del I
                    Ching, aprendiendo a utilizar su sabiduría ancestral para
                    ponerla al servicio de los demás. Sin embargo, como en todo
                    camino espiritual, mi trayecto no estuvo exento de dudas y
                    distracciones. A lo largo de los años, me fui alejando
                    momentáneamente, pero siempre sentí el llamado de regresar.
                </p>
                <p>
                    A los 22 años, el Reiki tocó nuevamente a mi puerta, y
                    decidí formarme como Reikista. Sin embargo, aunque me sentía
                    profundamente conectado con este don, inicialmente solo lo
                    aplicaba con personas muy cercanas, debido a mis miedos e
                    inseguridades sobre mi capacidad, mi conciencia y mi
                    energía. Poco a poco, comencé a expandir mi práctica, pero
                    siempre con cautela.
                </p>
                <p>
                    Mi camino de aprendizaje no terminó allí. Asistí a muchos
                    retiros, eventos, charlas y vi numerosos videos sobre
                    energías. Todo ello me brindó un conocimiento profundo sobre
                    cómo conectar con las fuerzas universales. Fue en 2023
                    cuando decidí dar un paso más allá y fundé Serendipia, con
                    la intención de materializar mi sueño de ayudar a todas las
                    personas posibles con todo lo que había aprendido.
                </p>
            </div>
        </section>
        <section class="banner">
            <div class="content">
                <p>
                    Hace 2 años, comencé a practicar yoga, lo que me ha
                    permitido integrar aún más la espiritualidad en mi vida
                    diaria. En 2024, me formé como profesor de Ayurveda, Yoga y
                    Ecología Védica, ampliando mi capacidad de servir a los
                    demás de una manera más holística y profunda.
                </p>
                <p>
                    Hoy en día, mi propósito es acompañar a cada ser que se
                    cruce en mi camino a través de sanaciones energéticas,
                    enseñanzas espirituales y prácticas que promuevan el
                    bienestar integral. Mi objetivo es ofrecer un espacio de
                    apoyo y crecimiento personal para que cada uno de nosotros
                    pueda conectar con su esencia, sanar y encontrar su camino
                    hacia la paz interior.
                </p>
                <p>
                    Por otro lado, Serendipia es más que una marca: es un faro
                    de luz en un mundo que a menudo parece perdido en la rutina
                    y el caos. Es un faro que representa un camino de
                    descubrimiento espiritual, donde el autoconocimiento y el
                    amor propio son las claves para alcanzar la iluminación. A
                    través de su propuesta, invita a las personas a explorar su
                    interior y encontrar su propósito, ayudando a liberar miedos
                    y a conectarse con la esencia más pura del ser. Este viaje
                    hacia el bienestar no solo es individual, sino también
                    colectivo, ya que la marca promueve el servicio a la
                    comunidad como una extensión natural del amor propio.
                </p>
            </div>
            <img src={CamiloYoga.src} alt="Hero Banner" />
        </section>
        <section class="banner">
            <img src={CamiloFinal.src} alt="Hero Banner" />
            <div class="content">
                <p>
                    El concepto de Serendipia, que hace referencia a los
                    hallazgos afortunados y mágicos, refleja el proceso de
                    encontrar, de manera inesperada, un camino de transformación
                    personal. La marca ofrece espacios y herramientas para que
                    cada persona se reconozca y valore tal como es, sin máscaras
                    ni pretensiones. En este proceso, el amor propio se
                    convierte en la base para establecer relaciones saludables,
                    tanto con uno mismo como con los demás.
                </p>
                <p>
                    Más allá de ser una marca de productos o servicios,
                    Serendipia promueve un estilo de vida consciente y generoso,
                    basado en la empatía, el respeto y la autenticidad. Su
                    propósito es ayudar a iluminar el camino de aquellos que
                    buscan crecer espiritualmente, conectándose con la comunidad
                    y compartiendo su luz de manera positiva. En cada acción,
                    Serendipia invita a un despertar interior, buscando siempre
                    la transformación y la sanación tanto personal como
                    colectiva.
                </p>
                <p>
                    La verdadera ganancia radica en la conciencia adquirida a
                    través de nuestras actividades, trabajos, compartires y
                    experiencias. Es esta conciencia la que nos distingue y da
                    valor a lo que proponemos, pues es lo que realmente nos
                    enriquece y transforma en todo lo que hacemos.
                </p>
            </div>
        </section>
        <section class="banner">
            <div class="content">
                <h2>
                    Gracias por permitirme compartir un pedazo de mi historia
                </h2>
                <p>
                    Gracias por permitirme compartir un pedazo de mi historia.
                    Estoy aquí para apoyarte en tu propio viaje de
                    autoconocimiento y transformación. Juntos podemos descubrir
                    el poder que reside dentro de ti.
                </p>
            </div>
        </section>
    </div>
</Layout>
<style lang="scss"></style>
