---

---

<footer>
    <div class="footer-content">
        <ul>
            <a href="/about"><li>About Us</li></a>
            <a href="/contact"><li>Contact</li></a>
            <a href="/privacy"><li>Privacy Policy</li></a>
        </ul>
        <div class="footer-info">
            <span>&copy; 2023 SerendipiaLight. All rights reserved.</span>
            <span>
                Page created by <a
                    href="https://marthox.com"
                    target="_blank"
                    rel="noopener noreferrer">marthox</a
                >.
            </span>
        </div>
    </div>
</footer>

<style>
    a {
        text-decoration: none;
        color: white;
    }
    footer {
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }
    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .footer-info {
        display: flex;
        justify-content: space-between;
    }
    nav {
        background-color: transparent;
        box-shadow: none;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    ul a {
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        text-decoration: none;
    }
    ul a:hover {
        text-decoration: underline;
    }
</style>
