---

---

<footer>
    <ul>
        <a href="/about"><li>About Us</li></a>
        <a href="/contact"><li>Contact</li></a>
        <a href="/privacy"><li>Privacy Policy</li></a>
    </ul>
    <div class="footer-info">
        <span>&copy; 2023 SerendipiaLight. All rights reserved</span>
        <span>
            Website created by <a
                href="https://marthox.com"
                target="_blank"
                rel="noopener noreferrer">Marthox</a
            >
        </span>
    </div>
</footer>

<style lang="scss">
    a {
        text-decoration: none;
        color: white;
    }
</style>
