---
import log from "@assets/logo_light.png";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

import BurgerMenu from "@assets/nav_burger_menu.svg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type NavItem = {
    url: string;
    text: string;
};

const nav_data: NavItem[] = [
    { url: "/", text: t("nav.home") },
    { url: "/about", text: t("nav.about") },
    { url: "/contact", text: t("nav.contact") },
    { url: "/posts", text: t("nav.posts") },
];
---

<nav class="mobile-navbar">
    <div class="navbar-header">
        <a href="/">
            <img src={log.src} alt="Logo" />
        </a>
        <button class="hamburger-menu" aria-label="Toggle menu">
            <BurgerMenu size={48} />
        </button>
    </div>
    <div class="mobile-menu">
        <div class="mobile-menu-container">
            <button class="close-menu" aria-label="Close menu"> X </button>
            <div class="mobile-navbar-menu">
                <ul class="mobile-navbar-list">
                    {
                        nav_data.map((item: NavItem) => (
                            <a href={item.url}>
                                <li>{item.text}</li>
                            </a>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const hamburgerMenu = document.querySelector(".hamburger-menu");
        const closeMenu = document.querySelector(".close-menu");
        const mobileMenu = document.querySelector(".mobile-menu");

        if (hamburgerMenu && mobileMenu) {
            hamburgerMenu.addEventListener("click", () => {
                mobileMenu.classList.add("open");
            });
        }

        if (closeMenu && mobileMenu) {
            closeMenu.addEventListener("click", () => {
                mobileMenu.classList.remove("open");
            });
        }
    });
</script>
