---
import log from "@assets/logo_light.png";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const phone = "573168746720";
const whatsappUrl = "https://wa.me/" + phone;

type NavItem = {
    url: string;
    text: string;
};

const nav_data: NavItem[] = [
    { url: "/", text: t("nav.home") },
    { url: "/about", text: t("nav.about") },
    { url: "/contact", text: t("nav.contact") },
    { url: "/posts", text: t("nav.posts") },
];
---

<nav class="desktop-navbar">
    <a href={"/"}>
        <img src={log.src} alt="Logo" />
    </a>
    <ul>
        {
            nav_data.map((item: NavItem) => (
                <a href={item.url}>
                    <li>{item.text}</li>
                </a>
            ))
        }
    </ul>
    <a
        href=`${whatsappUrl}?text=Hola%20Camilo,%20estoy%20interesado%20en%20tus%20clases%20de%20yoga%20y%20tus%20terapias%20de%20sanacion%20alternativas%20¿Me%20podrias%20dar%20mas%20informacion%20por%20favor?`
        class="button"
    >
        Contactame
    </a>
</nav>
