---
import log from "@assets/logo_light.png";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

type NavItem = {
    url: string;
    text: string;
};

const nav_data: NavItem[] = [
    { url: "/about", text: t("nav.about") },
    { url: "/contact", text: t("nav.contact") },
    { url: "/blog", text: t("nav.blog") },
    { url: "/resources", text: t("nav.resources") },
];
---

<nav class="desktop-navbar">
    <a href={"/"}>
        <img src={log.src} alt="Logo" />
    </a>
    <ul>
        {
            nav_data.map((item: NavItem) => (
                <a href={item.url}>
                    <li>{item.text}</li>
                </a>
            ))
        }
    </ul>
    Menu
</nav>

<style>
    a {
        text-decoration: none;
        color: inherit;
    }
</style>
