---
import log from "@assets/logo_light.png";

type NavItem = {
    url: string;
    text: string;
};

const nav_data: NavItem[] = [
    { url: "/about", text: "About" },
    { url: "/contact", text: "Contact" },
    { url: "/blog", text: "Blog" },
    { url: "/resources", text: "Resources" },
];
---

<nav>
    <a href={"/"}>
        <img src={log.src} alt="Logo" />
    </a>
    <ul>
        {
            nav_data.map((item: NavItem) => (
                <a href={item.url}>
                    <li>{item.text}</li>
                </a>
            ))
        }
    </ul>
    Menu
</nav>

<style>
    a {
        text-decoration: none;
        color: inherit;
    }
</style>
